@import 'react-md/src/scss/react-md';

// Any variable overrides. The following just changes the default theme to use teal and purple.
$md-light-theme: true; // optional for light theme
// $md-primary-color: $md-light-blue-500;
$md-primary-color: $md-pink-900;
// $md-primary-color: color('#0a84ff');
$md-secondary-color: $md-red-a-200;

// #971761