@import url('https://fonts.googleapis.com/css?family=Poppins');

html,
body {
  height: 100%;
  font-family: 'Poppins', sans-serif;
}
.img-portfolio {
  margin-bottom: 30px;
}

.img-hover:hover {
  opacity: 0.8;
}

/* Home Page Carousel */
header.carousel {
  height: 50%;
}
header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
  height: 100%;
}

header.carousel .fill {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

/*Navigation Bar */

.mega-nav {
  background: #6a3352;
  border-radius: 0;
  margin-bottom: 0;
  border-color: #6a3352;
}
.mega-nav.navbar-default .navbar-nav > li > a {
  color: #fff;
  transition: all 200ms ease-out;
  -webkit-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  padding-right: 26px;
  padding-left: 26px;
}
.mega-nav.navbar-default .navbar-nav > li > a:hover {
  background: #b3225b;
}
.mega-nav.navbar-default .navbar-nav > li > a:active {
  background: #b3225b;
}
.mega-nav.navbar-default .navbar-nav > li.dropdown > a:hover,
.mega-nav.navbar-default .navbar-nav > li.dropdown > a:focus,
.mega-nav.navbar-default .navbar-nav > li.dropdown > a:active {
  background: #0075b3;
  color: #fff;
}
#MainMenu {
  padding-left: 0;
}
#MainMenu .menu-list li {
  transition: all 200ms ease-out;
  -webkit-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  text-align: center;
}
#MainMenu .menu-list li .active {
  background: #000;
  color: #fff;
}
#MainMenu .menu-list li + li {
  border-left: 0px solid rgba(255, 255, 255, 0.5);
}

.mega-nav.navbar-default .navbar-nav > li.menu-list .list-category a {
  color: #333;
}
.darkness {
  background: rgba(0, 0, 0, 0.7);
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 5;
}

/* 404 Page Styles */

.error-404 {
  font-size: 100px;
}

/* section 1 style */

.port {
  margin: 20px 0 40px auto;
}
.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 0px solid #eee;
}

/* section 2 style */
.abt-sec {
  background: #33485b;
  color: #ffffff;
  padding: 40px 0 30px 0;
}
.abt-sec p {
  text-align: justify;
  padding: 24px 0 0 0;
}

/* Pricing Page Styles */

.price {
  display: block;
  font-size: 50px;
  line-height: 50px;
}

.price sup {
  top: -20px;
  left: 2px;
  font-size: 20px;
}

.period {
  display: block;
  font-style: italic;
}
#custom-search-input {
  padding-top: 6%;
  float: right;
  margin-left: 28%;
}
#custom-search-input .search-bar {
  border-radius: 1px;
  height: 30px;
  width: 185px;
}
#custom-search-input span button.btn.btn-info.btn-lg {
  height: 30px;
  border-radius: 1px;
  padding: 0 20px 0 20px;
  background: #94366b;
  border: #94366b;
}
.menu-sub > ul {
  width: 100%;
  padding: 20px 0 0 0%;
  list-style: none;
  display: -webkit-inline-box;
  color: #94366b;
}
.menu-sub {
  float: right;
}
.menu-sub ul > li {
  padding: 0 10px 0 10px;
  color: #94366b;
}
.menu-sub ul > li i.fa.fa-user {
  padding: 0 0 0 10px;
}
.menu-sub ul > li a {
  color: #94366b;
}
.menu-sub ul > li a:hover {
  text-decoration: none;
}
.btn-both {
  padding-top: 5%;
}

/* About Section */
.about {
  padding: 30px 0 30px 0;
}
.about h3 {
  text-align: center;
}
.banner > img {
  width: 100%;
}
.banner figure figcaption {
  height: 14%;
  background: rgba(106, 51, 82, 0.46);
  position: absolute;
  top: 362px;
  width: 100%;
  color: #ffffff;
  padding: 10px 40px;
}
.banner figure h4.heading {
  font-size: 40px !important;
}
.contact h3 {
  text-align: center;
  padding: 20px;
}
/* Footer Styles */

footer {
  padding: 8px 0 8px 0;
  background: #f1f1f1;
  color: #6e868a;
}
.footer-social-icons {
  width: 350px;
  display: block;
  margin: 0 auto;
}
.social-icon {
  color: #fff;
}
ul.social-icons {
  margin-top: 10px;
  float: left;
}
.social-icons li {
  vertical-align: top;
  display: inline;
  height: 100px;
}
.social-icons a {
  color: #6e868a;
  text-decoration: none;
}
.fa-facebook {
  padding: 10px 14px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.fa-facebook:hover {
  background-color: #3d5b99;
  color: #ffffff;
}
.fa-play {
  padding: 10px 12px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.fa-play:hover {
  background-color: #e64a41;
  color: #ffffff;
}
.fa-twitter {
  padding: 10px 12px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.fa-twitter:hover {
  background-color: #00aced;
  color: #ffffff;
}
.fa-rss {
  padding: 10px 14px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.fa-rss:hover {
  background-color: #eb8231;
  color: #ffffff;
}
.fa-youtube {
  padding: 10px 14px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.fa-youtube:hover {
  background-color: #e64a41;
  color: #ffffff;
}
.fa-linkedin {
  padding: 10px 14px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.fa-linkedin:hover {
  background-color: #0073a4;
  color: #ffffff;
}
.fa-google-plus {
  padding: 10px 9px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.fa-google-plus:hover {
  background-color: #e25714;
  color: #ffffff;
}

footer .copyright,
.contact {
  display: block;
  margin: 40px 0 20px 0;
  margin-bottom: 10%;
}
footer .copyright {
  text-align: center;
}
footer .contact ul {
  display: inline-block;
  float: right;
}
footer .contact ul > li {
  vertical-align: top;
  display: inline;
  height: 100px;
}
footer .contact ul > li i.fa.fa-phone,
.fa.fa-envelope {
  padding: 0px 10px 0 10px;
}

/* Login Form */

.login {
  padding: 4% 0 10% 0;
  display: block;
  overflow-x: hidden;
}
.form-brdr {
  border-right: 1px solid #971761;
}
.form-brdr:after {
  content: 'OR';
  position: absolute;
  right: -20px;
  top: 44%;
  padding-top: 11px;
  padding-bottom: 10px;
  width: 40px;
  padding-left: 10px;
  height: 40px;
  background: #971761;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  color: #ffffff;
}
.login form {
  box-shadow: none;
  clear: both;
  margin: 0 0 0 auto !important;
  padding: 0;
  background: transparent !important;
  padding-right: 55px;
}
form .form-group .input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}

select option[data-default] {
  color: #d3d3d3;
}

/* enable absolute positioning */
.inner-addon {
  position: relative;
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon {
  left: 0px;
}
.right-addon .glyphicon {
  right: 0px;
}

/* add padding  */
.left-addon input {
  padding-left: 30px;
}
.right-addon input {
  padding-right: 30px;
}

form .form-group .form-control {
  display: block;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 01px solid #ccc;
  border-radius: 1px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.form-group .checkbox label,
.radio label {
  min-height: 20px;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: 400;
  cursor: pointer;
  display: block;
}
.login form .text-fg {
  width: 35%;
  float: right;
  padding-bottom: 20px;
  color: #6a3350;
}

.login h2 {
  padding-bottom: 28px;
  font-size: 26px;
  color: #6a3352;
}
form .btn-login {
  color: #ffffff;
  background-color: #971761;
  border-radius: 1px;
  padding-left: 5%;
  padding-right: 5%;
}
form .btn-login:hover {
  color: #ffffff;
}
form .btn-secondary {
  color: #000;
  background-color: #eae6e5;
  border-radius: 1px;
}
.btn-right {
  margin-left: 2%;
}
.new-reg {
  padding: 20px 20px 0 30px;
}
.new-reg .btn-login {
  color: #ffffff;
  background-color: #971761;
  border-radius: 1px;
}
.new-reg h2 {
  padding: 0;
}
.btn-browse {
  z-index: 2;
  margin-left: -1px;
  background: #6a3352;
  border-color: #6a3352;
  border-radius: 1px;
}
.btn-browse:hover {
  background: #94366b;
  border-color: #94366b;
}
.form-horizontal .control-label {
  padding-top: 7px;
  margin-bottom: 0;
  text-align: left;
  font-weight: 100;
}
.image-preview-input {
  position: relative;
  overflow: hidden;
  margin: 0px;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.image-preview-input input[type='file'] {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
.image-preview-input-title {
  margin-left: 2px;
}
span.span_left {
  float: right;
}
.color_red {
  color: #b3225b !important;
}
.pro_secs {
  margin: 30px 0 0 0;
}
.suc_stories {
  display: block;
}
.suc_stories .container .row .fig_cap {
  text-align: -webkit-center;
}
.suc_stories .container .row h2 {
  display: block;
  border-bottom: 1px solid #d3d3d3;
  padding: 10px;
  font-size: 20px;
}
.suc_stories .container .row figure {
  padding: 20px 0 20px 0;
}
.suc_stories .container .row figure > img {
  width: auto;
  height: auto;
}
.suc_stories .container .row figure > figcaption {
  display: block;
}
.suc_stories .container .row figure > figcaption > h4 {
  text-align: center;
  color: #971761;
}
.suc_stories .container .row .pagi {
  text-align: center;
}
.success_msg {
  text-align: center;
  margin: 10% 0 5% 0;
}
.success_msg img {
  width: 20%;
  height: auto;
}
.coming_soon {
  text-align: center;
  margin: 10% 0;
  padding-bottom: 100px;
}

/* Utility Components */

.rm-pd-right {
  padding-right: 0px;
}
.rm-pd-left {
  padding-left: 0px;
}
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
  padding: 0 0 10px 0;
}
.btn-color {
  color: #ffffff;
  background-color: #971761;
  border-radius: 1px;
  padding-left: 5%;
  padding-right: 5%;
}
.overlay {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('https://unsplash.imgix.net/photo-1416339442236-8ceb164046f8?q=75&fm=jpg&s=8eb83df8a744544977722717b1ea4d09');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  height: 450px;
  padding-top: 50px;
}

/***************List and Grid View CSS **************************/
section.list_grid {
  margin-top: 28px;
}
.span_left .pagination {
  display: inline-block;
  padding-left: 0;
  margin: 0px 0;
  border-radius: 4px;
}
#container ul {
  list-style: none;
}
#container .buttons {
  margin-bottom: 20px;
}
#container .buttons a {
  color: #999999;
  text-decoration: none;
  font-size: 24px;
}
#container .list div {
  width: 100%;
  border-bottom: 1px dotted #ccc;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

#container .grid div {
  float: left;
  width: 18%;
  text-align: center;
  height: auto;
  padding: 10px;
  border: 1px solid #d3d3d3;
  margin: 0 20px 20px 0;
  -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.05);
}
#container .grid img {
  width: 100%;
}
#container .grid h2 {
  font-size: 20px;
}
#container .grid h4 {
  font-size: 18px;
  margin-top: 0;
}
.list_grid .well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: transparent;
  border: 0px solid #e3e3e3;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.05);
}
.list_grid .well .btn-default {
  color: #333;
  background-color: transparent;
  border-color: transparent;
}
.list-group-item .list-group-item-heading {
  margin-top: 0;
  margin-bottom: 5px;
}
.grid-group-item .list-group-item-heading {
  margin-top: 0;
  margin-bottom: 5px;
  text-align: center;
}
.glyphicon {
  margin-right: 5px;
}
.thumbnail {
  margin-bottom: 20px;
  padding: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.item.list-group-item {
  float: none;
  width: 100%;
  background-color: #fff;
  margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,
.item.list-group-item:hover {
  background: #428bca;
}

.item.list-group-item .list-group-image {
  margin-right: 10px;
}
.item.list-group-item .thumbnail {
  margin-bottom: 0px;
}
.item.list-group-item .caption {
  padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd) {
  background: #eeeeee;
}

/********************************* End list and Grid CSS ****************************/
/* Responsive Styles */

@media (max-width: 991px) {
  .customer-img,
  .img-related {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .img-portfolio {
    margin-bottom: 15px;
  }

  header.carousel .carousel {
    height: 70%;
  }
}

/* Spinner */
.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}
