@import "globals";

@include react-md-everything;

html,
body {
  background: #ffffff;
  width: 100%;
  height: 100%;
}

a{
  text-decoration: none;
}

header {
  width: 100vw;
  height: 4em;
  background: #f6f6f6;
  box-shadow: 0 1px 0 1px #f1f1f1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: flex;
  width: 90%;
  margin: 0 auto;
  max-width: 980px;
}

.content-centered {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

section {
  padding: 2em 1em;
}

footer {
  background: #4f4f4f;
  min-height: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  color: #fff;
}

.login-form {
  height: calc(100vh - 12em);
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form form {
  margin-top: 2em;
}
.login-form form input{
  min-width: 280px;
}